<html>
<title><%= title %></title>
<style type="text/css" media="screen">
body {

	background-color: #c8c8c8;
	background-color: hsl(0,0%,78%);
	/*opacity: 0.5;*/
	font-family: Heletica, "Comic Sans MS", Impact;
	font-size: 0.8em;
	text-align: left;

	width: 960px;
	margin: 0 auto;



}

h1 {

	background-color: DarkCyan;
	font-size: 3.6em;
	
}

h2 {

	background-color: #ee3e80;
	font-size: 1.2em;
	
}

p {

	background-color: white;
	
}


li {

	display: inline;
	padding: 1.6em;
}
</style>
<body>
<%- body %>
</body>
</html>